# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
*.cover
*.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coveragerc
.hypothesis/
.pytest_cache/

# Translations
*.mo

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# PyBuilder
target/
